p {
  margin-bottom: 0.5rem }

.container {
  margin-top: 1em }

.vertical-parent {
  height: 100%;
  display: flex;
  align-items: center }

.muted {
  font-weight: normal }
.bold {
  font-weight: bold }