<p>
  <b>What?</b> <i>Memoriae</i> is a simple site, allowing users to store information  
  about persons.
</p>

<p>
  <b>Why?</b> I have a very bad memory. 
  <small>And someone very important to me inspired me.</small>
</p>

<p>
  To check it out, <a href="/memoriae/login">log in</a> or <a href="/memoriae/signup">sign up</a>.
</p>

<p>
  Go ahead and read the  <a href="https://github.com/lw2904/memoriae">code</a>, 
  or <a href="mailto:fsoc@firemail.cc">contact</a> me.
</p>

<P>
  <small class="muted">
    Version <%= version %>, running node <%= node %>.
  </small>
</P>